.windIcon img {
  padding: 5px;
  padding-bottom: 8px;
  height: 11vh;
}

.windIcon {
  background-color: white;
  border-radius: 50%;
}

@media only screen and (max-width: 992px) {
  .windIcon img {
    height: 12vw !important;
  }
}
