
:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary-dark: #161a20;
  --color-primary: #2e3642;
  --color-primary-semi-transparent: rgba(46, 54, 66, 0.5);
  --color-secondary: #c5c6de;
  --color-tertiary: #09bc8a;
  --color-gray-1: rgb(146, 146, 146);
  --color-gray-2: rgb(207, 207, 207); 
}
