.heading-1 {
  font-size: 3.4rem; /* 5.2 * 0.65 */
  line-height: 1.5;
  font-weight: 700;
}

.heading-2 {
  font-size: 2.8rem; /* 4.4 * 0.65 */
  line-height: 1.5;
  font-weight: 600;
}

.heading-3 {
  font-size: 2.4rem; /* 3.6 * 0.65 */
  line-height: 1.5;
  font-weight: 600;
}

.heading-4 {
  font-size: 1.9rem; /* 2.8 * 0.65 */
  line-height: 1.5;
  font-weight: 600;
}

.subtitle {
  font-size: 1.7rem; /* 2.6 * 0.65 */
  font-weight: 600;
}

.subtitle-2 {
  font-size: 1.5rem; /* 2.2 * 0.65 */
  font-weight: 600;
}

.subtitle-3 {
  font-size: 1.3rem; /* 2.0 * 0.65 */
  font-weight: 600;
}

.subtitle-4 {
  font-size: 1.1rem; /* 1.6 * 0.65 */
  font-weight: 600;
}

.body-text-regular {
  font-size: 1.1rem; /* 1.8 * 0.65 */
  font-weight: 500;
}

.body-text-regular-sm {
  font-size: 0.9rem; /* 1.6 * 0.65 */
  font-weight: 500;
}

.body-text-bold {
  font-size: 1.1rem; /* 1.6 * 0.65 */
  font-weight: 600;
}

.body-text-bold-sm {
  font-size: 1rem; /* 1.4 * 0.65 */
  font-weight: 600;
}
