@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary-dark: #161a20;
  --color-primary: #2E3642;
  --color-primary-semi-transparent: rgba(46, 54, 66, 0.5);
  --color-secondary: #c5c6de;
  --color-tertiary: #09bc8a;

  --space-extra-small: 7;
  --space-small: 12;
  --space-normal: 20;
  --space-big: 35px;
  --space-large: 50;

  --text-regular: 24px;
  --text-bold: 24px bold;
  --text-small: 16px;
}

* {
  font-family: "Poppins", sans-serif !important;
  font-weight: 300;
}

h1 {
  font-size: 96;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 64;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 48;
  font-weight: bold;
  margin: 0;
}

h4 {
  font-size: 40;
  font-weight: bolder;
  margin: 0;
}

h5 {
  font-size: 32;
  font-weight: 500;
  margin: 0;
}
