@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary-dark: #161a20;
  --color-primary: #2e3642;
  --color-primary-semi-transparent: rgba(46, 54, 66, 0.5);
  --color-secondary: #c5c6de;
  --color-tertiary: #09bc8a;
  --color-gray-1: rgb(146, 146, 146);
  --color-gray-2: rgb(207, 207, 207);

  --space-extra-small: 7px;
  --space-small: 12px;
  --space-normal: 20px;
  --space-big: 35px;
  --space-large: 50px;

  --text-regular: 24px;
  --text-bold: 24px bold;
  --text-small: 16px;
}

@media only screen and (max-width: 600px) {
  :root {
    --space-extra-small: 3px;
    --space-small: 8px;
    --space-normal: 12px;
    --space-big: 15px;
    --space-large: 25px;
  }
}

@media only screen and (min-width: 600px) {
  :root {
    --space-extra-small: 5px;
    --space-small: 10px;
    --space-normal: 15px;
    --space-big: 20px;
    --space-large: 30px;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --space-extra-small: 6px;
    --space-small: 11px;
    --space-normal: 18px;
    --space-big: 27px;
    --space-large: 35px;
  }
}

@media only screen and (min-width: 992px) {
  :root {
    --space-extra-small: 7px;
    --space-small: 12px;
    --space-normal: 20px;
    --space-big: 30px;
    --space-large: 45px;
  }
}

@media only screen and (min-width: 1200px) {
}
