/* HomeTable.module.css */
.weatherTable {
  width: 100%;
  max-width: 800px;
  margin: 32px auto;
  border-collapse: collapse;
  background-color: white;
  color: #6c757d; /* Secondary Color */
  font-family: "Roboto", sans-serif;
  box-shadow: 0 2px 4px rgba(0, 123, 255, 0.1);
}

.weatherTable thead {
  background-color: #007bff; /* Primary Color */
}

.weatherTable th,
.weatherTable td {
  padding: 16px; /* Medium spacing for padding */
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.weatherTable th {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 18px; /* Close to H3 size for visibility */
}

.weatherTable tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.weatherTable tbody tr:hover {
  background-color: #f1f1f1;
}

.weatherTable img {
  width: 24px;
  height: auto;
}

.header {
  text-align: center;
  color: #007bff; /* Primary Color */
  font-size: 32px; /* H1 size */
  font-family: "Montserrat", sans-serif;
  margin-bottom: 16px; /* Medium spacing */
}

@media (max-width: 768px) {
  .weatherTable {
    margin: 16px auto;
  }

  .weatherTable th,
  .weatherTable td {
    padding: 12px; /* Slightly reduced padding */
    font-size: 16px; /* Adjusted for readability on smaller screens */
  }

  .header {
    font-size: 24px; /* Adjusted size for mobile */
  }
}
