.collection-container {
  padding: 20px;
  background-color: #fff; /* Adjust as necessary */
}

.item-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 items per row */
  gap: 16px;
  margin-bottom: 20px;
}

.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item-image {
  width: 100%; /* Adjust size based on your requirement */
  height: auto;
}

.item-info {
  margin-top: 10px;
}

.item-name {
  font-size: 1rem;
  margin-bottom: 8px;
}

.item-button,
.view-all-button {
  padding: 8px 16px;
  background-color: #09bc8a; /* Example color */
  color: white;
  border: none;
  cursor: pointer;
}

.view-all-button {
  display: block;
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .item-grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 items per row on smaller screens */
  }
}
