body {
  background-image: url(./Login\ page\ _\ Web\ layout.png);
  background-size: cover;
}

.login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 600px;
  padding: 50px;
  color: #ffffff;
  margin-left: 100px;
}
.login_container .login_header {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 3rem;
}
.login_container .login_signin {
  display: flex;
  margin-bottom: 2rem;
}
.login_container .login_signin h5 {
  font-size: 32px;
  margin-right: 0.5rem;
}
.login_container .login_signin a {
  text-decoration: none;
  font-size: 32px;
  color: #c5c6de;
  font-weight: 700;
}
.login_container .login_form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login_container .login_form .form_input {
  display: flex;
  align-items: center;
  background-color: #2e3642;
  padding: 10px 18px 10px 18px;
  border-radius: 15px;
  color: #ffffff;
  margin-top: 20px;
}
.login_container .login_form .form_input .form_input_box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login_container .login_form .form_input .form_input_box input {
  background-color: #2e3642;
  border: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}
.login_container .login_form .form_input .form_input_box input:focus {
  outline: none;
}
.login_container .login_form .form_input .form_input_box label {
  font-size: 16px;
}
.login_container .login_button {
  background-color: #09bc8a;
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  padding: 0.5rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 4rem;
  width: 100%;
}