$black: var(--color-black);
$white: var(--color-white);
$primaryDark: var(--color-primary-dark);
$primary: var(--color-primary);
$secondary: var(--color-secondary);
$tertiary: var(--color-tertiary);

$body-text-small:16px;
$body-text-bold:24px ;
$body-text-regular:24px;
$h1: 96px;
$h2: 64px;
$h3: 48px;
$h4: 40px;
$h5: 32px;

.login_page{
        width: 100vw;
        height: 100vh;
        background-image: url(./Login\ page\ _\ Web\ layout.png);
        background-size: cover;
}
.login_container{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100vh;
        width: 600px;
        padding: 50px;
        color: $white;
        margin-left: 100px;
        
        .login_header{
                font-size: $h2;
                font-weight: 700;
                margin-bottom: 3rem;
        }
        .login_signin{
                display: flex;
                margin-bottom: 2rem;

                h5{
                        font-size: $h5;
                        margin-right: 0.5rem;
                }
                a{
                        text-decoration: none;
                        font-size: $h5;
                        color: $secondary;
                        font-weight: 700;
                }
        }
        .login_form{
                display: flex;
                flex-direction: column;
                width: 100%;


        }
        .login_button{
                background-color: $tertiary;
                color: $white;
                font-size: $h5;
                font-weight: 700;
                padding: 0.5rem;
                border: none;
                border-radius: 50px;
                cursor: pointer;
                margin-top: 4rem;
                width: 100%;
                
        }

}
