.updateIconWrapper {
  width: 2vw;
  min-width: 25px;
}

.timer {
  user-select: none;
  position: absolute;
  bottom: calc(var(--space-large) - var(--space-large) / 2);
  right: calc(var(--space-large));
}
.immediateUpdate {
  display: block;
}

@media screen and (max-width: 992px) {
  .immediateUpdate {
    display: none;
  }
}
