.iconWrapper {
  width: 50%;
}

.weatherEntry {
  min-height: 90px;
  min-width: 55px;
  flex: 1;
  color: var(--color-primary-dark);
  background-color: var(--color-secondary);
  border-radius: 15px;
  height: 100%;
}
