@import "./styles/typography.css";
@import "./styles/variables.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 100%;
  color: var(--color-black);
  scroll-behavior: smooth;
}

body,
input,
button,
textarea,
select {
  font: inherit;
}
