.outfit-banner {
  background: url("./BackgroundPictures/picture001.webp") no-repeat center
    center; /* Adjust path as needed */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Adjust based on your design needs */
  color: var(--color-white);
  text-align: center;
}

.banner-content {
  padding: var(--space-normal);
}

.outfit-banner h1 {
  font-size: 2.5rem; /* Adjust size for responsiveness in media queries */
}

.outfit-banner p {
  font-size: 1rem;
}

.tags {
  margin: var(--space-normal) 0;
}

.tag {
  display: inline-block;
  background: var(--color-gray-2); /* Adjust the background as needed */
  color: var(--color-black);
  border-radius: var(--round-corner-small);
  padding: 0.5rem;
  margin-right: var(--space-small);
}

.find-more-btn {
  background: var(--color-secondary); /* This should be a clickable color */
  color: var(--color-black);
  padding: 1rem;
  border-radius: var(--round-corner-small);
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
  .outfit-banner h1 {
    font-size: 2rem;
  }
  .outfit-banner p,
  .find-more-btn {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .outfit-banner {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .outfit-banner {
    height: 150px;
  }
}
