.form_input {
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
  padding: 10px 18px 10px 18px;
  border-radius: 15px;
  color: var(--color-white);
  margin-top: 20px;
}
.form_input .form_input_box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form_input .form_input_box input {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-white);
  font-size: 24px;
  font-weight: 700;
}
.form_input .form_input_box input:focus {
  outline: none;
}
.form_input .form_input_box label {
  font-size: 16px;
}
.form_input .form_checkbox_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0 10px 0;
}
.form_input .form_checkbox_box .checkbox_input {
  width: 25px;
  height: 25px;
}
.form_input .form_checkbox_box .checkbox_label {
  font-size: 24px;
  margin-left: 10px;
  margin-bottom: 0;
}