.weather-summary-container {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  width: 48%; /* Adjust width as needed */
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.chart-header h2 {
  font-size: 1.5em;
  margin: 0;
}

.chart-wrapper {
  height: 300px; /* Fixed height for the chart */
  position: relative;
  margin-bottom: 20px;
}

.weather-summary-details {
  display: flex;
  justify-content: space-around;
}

.weather-summary-item {
  display: flex;
  align-items: center;
  font-size: 1em;
}

.weather-summary-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .weather-summary-container {
    padding: 10px;
    width: 100%; /* Full width on smaller screens */
  }

  .chart-header h2 {
    font-size: 1.2em;
  }

  .chart-wrapper {
    height: 200px; /* Adjust height for smaller screens */
  }

  .weather-summary-item {
    font-size: 0.9em;
  }
}
