.current-weather {
  position: relative;
  color: var(--color-white);
  width: 100% !important;
  height: 100%;
  background-color: var(--color-primary);
  border-radius: var(--round-corner-small);
  padding: var(--space-large);
}

.current-weather .details-data {
  width: 100%;
}

.update-icon-wrapper{
  width: 2vw;
  min-width: 25px;
}

.timer{
  user-select: none;
  position: absolute;
  bottom: calc(var(--space-large) - var(--space-large)/2);
}
